body{
    background: url(imagens/fundo.png);
}

ul {
    background-color: #336600;
    width: 860px;
    height: 100px;
    text-align: center;
}

ul li {
    text-align: center;
}

h2 {
    color: gray;
    padding: 10px;
}

h4 {
    text-align: center;
}
.descricao{
    background-color: white;
}

p {
    padding: 10px;
}

div {
    width: 900px;
}

.imagens {
    border: 10px;
    border-style: groove;
    width: 640px;
    border stu
}