body {
  background: url(imagens/fundo.png);
}

ul {
  background-color: #a9dfbf;
  width: 800px;
  text-align: center left;
  padding: 50px;
}

ul span a{
    color: #52be80;
}

ul li{
    list-style: none;
}

h2 {
  color: gray;
  padding: 15px;
}

h4 {
  text-align: center;
}
.fundo_branco {
  background-color: white;
}

p {
  padding: 15px;
}

div {
  width: 900px;
}

.imagens {
  border: 10px;
  border-style: groove;
  width: 640px;
}



